@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Roboto, sans-serif;
  }

.header {
    font-family: Roboto;
    background-color: #e40e0e;
    display: flex;
    flex-direction: column;
    padding: 40px 150px;
}

.header-container {
    max-width: 1200px; 
    margin: 0 auto;  
    padding: 0 40px;   
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.up-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mid-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 100px;
    flex-wrap: wrap;
  }
  
  .mid-text {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .mid-header img {
    max-width: 400px;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    object-fit: contain;
  }

#awesome {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 900;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-text {
    color: #d6d8db;
    font-size: 18px;
  }
  
  .header-text ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #e5e7eb;
    font-size: 24px;
  }

#button {
    display: flex;
    color: #e5e7eb;
    background-color: #d018f1;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 30px;
    align-self: flex-start;
    cursor: pointer;
}

#button:hover {
  background-color: rgb(255, 0, 102);
}

.mid-text h1, .mid-text p {
  margin: 0;
  line-height: 1.2;
}

.middle-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box img {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  margin: 10px 20px;
  justify-content: space-evenly;
  text-align: center;
}

.quote-section {
  display: flex;
  flex-direction: column;
  padding: 70px;
  background-color: #faece0;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: 26px;
  font-style: italic;
  color: #1F2937;
  font-weight: normal;
  max-width: 740px;
  text-align: left;
  margin: 0 auto;
}

.quote-sign {
  max-width: 740px;
  width: 100%;  
  text-align: left;  
  margin: 30px auto 0; 
  font-size: 26px;
  color: #1F2937;
}

.quote-container {
  max-width: 1200px;
  width: 100%;
}

.quote p {
  margin-bottom: 20px;
  line-height: 1.6; /* Optional: improves readability */
}

.quote p:first-of-type {
  font-style: normal;
  font-weight: bold;
}


.call-section {
  display: flex;
  background-color: white;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

.call-container {
  display: flex;
  background-color: #ed1616;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  height: 150px;
  border-radius: 10px;
  font-size: 15px;
  padding: 50px;
}

.call-header {
  display: flex;
  flex-direction: column;
  color: white;
}

.call-button button {
  display: flex;
  color: #e5e7eb;
  background-color: #ae058c;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 30px;
  align-self: flex-start;
  cursor: pointer;
}

.call-button button:hover {
  background-color: rgb(255, 42, 92);
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b50909;
  color: white;
  height: 40px;
  font-size: 15px;

}